# Analysis of Russo-Ukraine War From Twitter

In [ ]:
pip install git+https://github.com/tweepy/tweepy.git

Collecting git+https://github.com/tweepy/tweepy.git
  Cloning https://github.com/tweepy/tweepy.git to /tmp/pip-req-build-7vj5cnj1
  Running command git clone -q https://github.com/tweepy/tweepy.git /tmp/pip-req-build-7vj5cnj1
Requirement already satisfied: oauthlib<4,>=3.2.0 in /usr/local/lib/python3.7/dist-packages (from tweepy==4.8.0) (3.2.0)
Requirement already satisfied: requests<3,>=2.27.0 in /usr/local/lib/python3.7/dist-packages (from tweepy==4.8.0) (2.27.1)
Requirement already satisfied: requests-oauthlib<2,>=1.2.0 in /usr/local/lib/python3.7/dist-packages (from tweepy==4.8.0) (1.3.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.27.0->tweepy==4.8.0) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.27.0->tweepy==4.8.0) (1.24.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.27.0->tweepy==4.8.0) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.27.0->tweepy==4.8.0) (2.10)

In [ ]:

import configparser
import pandas as pd

#Documentation of tweepy: 
https://docs.tweepy.org/en/stable/getting_started.html?#api

In [ ]:
consumer_key="pIr0eSEiyK2VppO35ghb41CJB"              #Prerequisites:Twitter Dev Account
consumer_secret="R8QMe1wgBEAiSuo9XdXyVzvFLh54mEfqAYwBMyryDGAUiU0kwD"
bearer_token="AAAAAAAAAAAAAAAAAAAAAJtYbQEAAAAA%2FH1KeQnkHMy8kAiIaDCSm5V1uL0%3DiNoKevGtoogk9yOifLJvxZrQmLqiQ6WCSY4kqAy7ClzyoqKrLt"
access_token="1458361620388737025-3Q0IvnTjvoRo5kjJRFSipcxMFDAcUd"
access_token_secret="nHqw09ALP51y5HJqdgSNPzaowCObyJktkFmHjxWxbjy2K"

In [ ]:
import tweepy

client = tweepy.Client(bearer_token)

users=client.get_users(usernames=["RALee85","tassagency_en","ABCWorldNews"]) #getuserID
for user in users:
  print(user)

[<User id=4107939250 name=Rob Lee username=RALee85>, <User id=1903712426 name=TASS username=tassagency_en>, <User id=86141342 name=World News Tonight username=ABCWorldNews>]
{}
[]
{}

In [ ]:
roblee_user_id="4107939250" #PHD Researcher on Ukrainian War Rob Lee's user ID
tass_user_id="1903712426"  #Pro-Russia Media state-owned by Russia
ABCWorldNews_id="86141342"  #Pro-Ukraine Medaia state-woned by USA

In [ ]:
start_time = '2022-02-24T00:00:00Z' #begining of Russia's "special military operations in Ukraine"
end_time = '2022-04-09T00:00:00Z'
columns=["Time","User_ID","Tweet", "like_count", "reply_count","retweet_count","language" ]
data=[]
for tweet in tweepy.Paginator(client.get_users_tweets, id=roblee_user_id,exclude="retweets",start_time=start_time,
                 end_time=end_time, tweet_fields=['context_annotations','author_id','created_at','geo','public_metrics','lang'],user_fields=['profile_image_url'], max_results=100).flatten(limit=3200):
   data.append([tweet.created_at,tweet.author_id,tweet.text,tweet.public_metrics["like_count"],tweet.public_metrics["reply_count"],tweet.public_metrics["retweet_count"],tweet.lang])
  
roblee_df=pd.DataFrame(data,columns=columns) #remark: data was restricted to latest 3200tweets only
roblee_df=roblee_df.sort_values(by='Time')
roblee_df=roblee_df.set_index("Time")

roblee_df.to_csv("roblee_tweet.csv") #save as csv file


roblee_df.head(10)

,User_ID,Tweet,like_count,reply_count,retweet_count,language
Time,,,,,,
2022-03-16 17:53:30+00:00,4107939250,The Russian troops reportedly came from the 12...,630,8,95,en
2022-03-16 17:54:01+00:00,4107939250,1014/\nhttps://t.co/hR0IG6XGYw,245,4,31,und
2022-03-16 17:54:53+00:00,4107939250,389/\nhttps://t.co/g3HdPMigpl,381,5,59,und
2022-03-16 18:02:55+00:00,4107939250,1015/\nhttps://t.co/ez4QWru5Nq,355,13,41,und
2022-03-16 18:13:48+00:00,4107939250,1016/\nhttps://t.co/Rs8h0Jegmo,251,13,84,und
2022-03-16 18:29:16+00:00,4107939250,Video from the Azov regiment showing multiple ...,4738,197,923,en
2022-03-16 18:29:25+00:00,4107939250,1017/\nhttps://t.co/qHM82OJMcg,381,8,40,und
2022-03-16 18:45:10+00:00,4107939250,Ukrainian UAV footage allegedly showing artill...,952,23,164,en
2022-03-16 18:53:45+00:00,4107939250,2/ https://t.co/UToKvxzQAJ,513,8,60,und
2022-03-16 22:08:10+00:00,4107939250,1018/ https://t.co/ilyZxalq6L,133,1,13,und

In [ ]:
start_time = '2022-02-24T00:00:00Z' #begining of Russia's "special military operations in Ukraine" Russia National Media
end_time = '2022-04-09T00:00:00Z'
columns=["Time","User_ID","Tweet", "like_count", "reply_count","retweet_count","language" ]
data=[]
for tweet in tweepy.Paginator(client.get_users_tweets, id=tass_user_id,exclude="retweets",start_time=start_time,
                 end_time=end_time, tweet_fields=['context_annotations','author_id','created_at','geo','public_metrics','lang'],user_fields=['profile_image_url'], max_results=100).flatten(limit=3200):
   data.append([tweet.created_at,tweet.author_id,tweet.text,tweet.public_metrics["like_count"],tweet.public_metrics["reply_count"],tweet.public_metrics["retweet_count"],tweet.lang])
  
tass_df=pd.DataFrame(data,columns=columns) #remark: data was restricted to latest 3200tweets only
tass_df=tass_df.sort_values(by='Time')
tass_df=tass_df.set_index("Time")

tass_df.to_csv("tass_tweet.csv") #save as csv file


tass_df.head(10)

,User_ID,Tweet,like_count,reply_count,retweet_count,language
Time,,,,,,
2022-02-24 01:33:22+00:00,1903712426,"EU blacklists Russian government officials, la...",14,9,13,en
2022-02-24 08:28:03+00:00,1903712426,Putin declares beginning of military operation...,37,9,18,en
2022-02-24 08:33:45+00:00,1903712426,Putin urges Ukrainian military to disarm:\nhtt...,172,22,78,en
2022-02-24 08:45:16+00:00,1903712426,"Ukrainian Air Force infrastructure degraded, a...",46,2,43,en
2022-02-24 09:00:53+00:00,1903712426,Flights canceled or suspended in southern Russ...,17,1,12,en
2022-02-24 09:15:17+00:00,1903712426,Kiev asks Ankara to close Turkish straits to R...,41,4,27,en
2022-02-24 09:21:36+00:00,1903712426,Russia’s daily COVID-19 cases grow by almost 1...,11,0,10,en
2022-02-24 09:30:28+00:00,1903712426,OSCE says Russian military action in Ukraine p...,10,4,5,en
2022-02-24 09:45:29+00:00,1903712426,"Ukrainian troops leaving their positions, drop...",82,21,46,en
2022-02-24 10:01:00+00:00,1903712426,Brent surpasses $103 per barrel first time sin...,17,3,19,en

In [ ]:
start_time = '2022-02-24T00:00:00Z' #begining of Russia's "special military operations in Ukraine" Russia National Media
end_time = '2022-04-09T00:00:00Z'
columns=["Time","User_ID","Tweet", "like_count", "reply_count","retweet_count","language" ]
data=[]
for tweet in tweepy.Paginator(client.get_users_tweets, id=ABCWorldNews_id,exclude="retweets",start_time=start_time,
                 end_time=end_time, tweet_fields=['context_annotations','author_id','created_at','geo','public_metrics','lang'],user_fields=['profile_image_url'], max_results=100).flatten(limit=3200):
   data.append([tweet.created_at,tweet.author_id,tweet.text,tweet.public_metrics["like_count"],tweet.public_metrics["reply_count"],tweet.public_metrics["retweet_count"],tweet.lang])
  
ABC_df=pd.DataFrame(data,columns=columns) #remark: data was restricted to latest 3200tweets only
ABC_df=ABC_df.sort_values(by='Time')
ABC_df=ABC_df.set_index("Time")

ABC_df.to_csv("ABC_tweet.csv") #save as csv file


ABC_df.head(10)

,User_ID,Tweet,like_count,reply_count,retweet_count,language
Time,,,,,,
2022-02-24 00:23:57+00:00,86141342,ONE-ON-ONE WITH SECY. BLINKEN: @DavidMuir goes...,223,61,82,en
2022-02-24 00:27:02+00:00,86141342,After more than 30 months in detention centers...,13,9,10,en
2022-02-24 01:05:13+00:00,86141342,A woman who survived three heart attacks in th...,32,4,13,en
2022-02-24 01:22:49+00:00,86141342,Secretary of State Antony Blinken to @DavidMui...,145,35,76,en
2022-02-24 01:45:50+00:00,86141342,PRESSURING PUTIN: @CeciliaVega reports as the ...,20,8,16,en
2022-02-24 02:00:00+00:00,86141342,POISED TO STRIKE? @MarthaRaddatz has more from...,26,3,21,en
2022-02-24 03:00:02+00:00,86141342,SPREADING OUT VACCINATIONS: The CDC is now rec...,31,4,15,en
2022-02-24 12:34:01+00:00,86141342,BREAKING: At least 40 people have been killed ...,55,4,39,en
2022-02-24 12:36:02+00:00,86141342,NATO envoys met in emergency session after Rus...,33,6,13,en
2022-02-24 12:38:28+00:00,86141342,Video published by the Ukraine border guard se...,59,6,40,en

#3 CSV File Was Created


1.   "roblee_tweet.csv" by PHD researcher Rob Lee https://twitter.com/RALee85 
2.   "tass_tweet.csv"  by TASS- state-owned Russia Media https://twitter.com/tassagency_en
3.   "ABC_tweet.csv"   by ABC International new -State Owned USA Media https://twitter.com/ABCWorldNews 

Note: Timeframe of TASS and ABC is same(began from 24Feb, but Rob Lee began from 16March (due to 3200 tweets limitation)

In [ ]:
Rob_Lee_df=pd.read_csv("roblee_tweet.csv")
Rob_Lee_df.info()
Rob_Lee_df.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3099 entries, 0 to 3098
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Time           3099 non-null   object
 1   User_ID        3099 non-null   int64
 2   Tweet          3099 non-null   object
 3   like_count     3099 non-null   int64
 4   reply_count    3099 non-null   int64
 5   retweet_count  3099 non-null   int64
 6   language       3099 non-null   object
dtypes: int64(4), object(3)
memory usage: 169.6+ KB

,Time,User_ID,Tweet,like_count,reply_count,retweet_count,language
0,2022-03-16 17:53:30+00:00,4107939250,The Russian troops reportedly came from the 12...,630,8,95,en
1,2022-03-16 17:54:01+00:00,4107939250,1014/\nhttps://t.co/hR0IG6XGYw,245,4,31,und
2,2022-03-16 17:54:53+00:00,4107939250,389/\nhttps://t.co/g3HdPMigpl,381,5,59,und
3,2022-03-16 18:02:55+00:00,4107939250,1015/\nhttps://t.co/ez4QWru5Nq,355,13,41,und
4,2022-03-16 18:13:48+00:00,4107939250,1016/\nhttps://t.co/Rs8h0Jegmo,251,13,84,und

In [ ]:
TASS_tweet_df=pd.read_csv("tass_tweet.csv")
TASS_tweet_df.info()
TASS_tweet_df.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 546 entries, 0 to 545
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Time           546 non-null    object
 1   User_ID        546 non-null    int64
 2   Tweet          546 non-null    object
 3   like_count     546 non-null    int64
 4   reply_count    546 non-null    int64
 5   retweet_count  546 non-null    int64
 6   language       546 non-null    object
dtypes: int64(4), object(3)
memory usage: 30.0+ KB

,Time,User_ID,Tweet,like_count,reply_count,retweet_count,language
0,2022-02-24 01:33:22+00:00,1903712426,"EU blacklists Russian government officials, la...",14,9,13,en
1,2022-02-24 08:28:03+00:00,1903712426,Putin declares beginning of military operation...,37,9,18,en
2,2022-02-24 08:33:45+00:00,1903712426,Putin urges Ukrainian military to disarm:\nhtt...,172,22,78,en
3,2022-02-24 08:45:16+00:00,1903712426,"Ukrainian Air Force infrastructure degraded, a...",46,2,43,en
4,2022-02-24 09:00:53+00:00,1903712426,Flights canceled or suspended in southern Russ...,17,1,12,en

In [ ]:
ABC_tweet_df=pd.read_csv("tass_tweet.csv")
ABC_tweet_df.info()
ABC_tweet_df.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 546 entries, 0 to 545
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Time           546 non-null    object
 1   User_ID        546 non-null    int64
 2   Tweet          546 non-null    object
 3   like_count     546 non-null    int64
 4   reply_count    546 non-null    int64
 5   retweet_count  546 non-null    int64
 6   language       546 non-null    object
dtypes: int64(4), object(3)
memory usage: 30.0+ KB

,Time,User_ID,Tweet,like_count,reply_count,retweet_count,language
0,2022-02-24 01:33:22+00:00,1903712426,"EU blacklists Russian government officials, la...",14,9,13,en
1,2022-02-24 08:28:03+00:00,1903712426,Putin declares beginning of military operation...,37,9,18,en
2,2022-02-24 08:33:45+00:00,1903712426,Putin urges Ukrainian military to disarm:\nhtt...,172,22,78,en
3,2022-02-24 08:45:16+00:00,1903712426,"Ukrainian Air Force infrastructure degraded, a...",46,2,43,en
4,2022-02-24 09:00:53+00:00,1903712426,Flights canceled or suspended in southern Russ...,17,1,12,en